amqp==5.2.0
async-timeout==4.0.3
billiard==4.2.0
blinker==1.7.0
celery==5.3.6
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Flask
Flask-WTF
itsdangerous==2.1.2
Jinja2
kombu==5.3.5
MarkupSafe==2.1.5
pillow==10.2.0
prompt-toolkit==3.0.43
python-dateutil==2.8.2
redis==5.0.1
six==1.16.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug
WTForms
pytest==8.2.1
uWSGI==2.0.26
Flask-JWT-Extended
SQLAlchemy==2.0.37
Flask-Migrate
Flask-SQLAlchemy==3.1.0
connexion
Flask-Cors
mysql-connector-python
email_validator
PyJWT==2.9.0